.custom-modal-confirm {
  .modal-header {
    padding: 10px;
    border-bottom: none;
  }
  .button-confirm {
    color: #fff;
    border: none;
    background-color: #2077fa;
  }

  .warning {
    background-color: #df3434;
  }
  .info {
    background-color: #5288e5;
  }
}
