.sidebar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 48px;
  height: 100vh;
  background-color: var(--bs-neutral);
  padding-top: 9px;

  &__logo {
    .logo_wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 26px;
    }

    .logo_img {
      width: 36px;
      height: 36px;
    }
  }
  &__items {
    .item {
      margin-bottom: 26px;
      display: flex;
      justify-content: center;

      .item-link {
        width: 34px;
        height: 34px;
        background-color: transparent;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: brightness(0.8);

        .icon {
          width: 30px;
          height: 30px;
          display: block;
        }
      }

      &.active {
        .item-link {
          background-color: #ECECEC;
          filter: brightness(1);
          transition: 0.4s all ease;
        }
      }
    }
  }
}
