<aside class="sidebar">
  <div class="sidebar__logo">
    <a href="/" class="logo_wrapper">
      <img src="/assets/images/logo.png" class="logo_img">
    </a>
  </div>
  <div class="sidebar__items">
    <div class="item" *ngFor="let item of sidebars" [ngClass]="{active: item.isActive}">
      <a [routerLink]="item.link" class="item-link">
        <img *ngIf="!item.isActive" [src]="item.icon" alt="" class="icon">
        <img *ngIf="item.isActive" [src]="item.iconActive" alt="" class="icon">
      </a>
    </div>
  </div>
</aside>
