// Input common
input[type]:not([type='checkbox'], [type='color']),
textarea {
  width: 100%;
  color: #333;
  border: none;
  outline: none;
  align-items: center;
  padding: 10px;
  background: #e7e9ef;
  border-radius: 6px;
}
.input-disable {
  opacity: 0.8;
}
input.custom-input-color {
  width: 100%;
  height: 41px;
}

.custom-input-search {
  border: none;
  padding: 0 10px;
  height: 100%;
  border-radius: 6px;
  background: #e7e9ef;
}

//button
button:disabled,
button[disabled] {
  cursor: not-allowed !important;
}

.button-sync {
  button {
    color: #132547 !important;
    background-color: #e7e9ef !important;
    &:hover {
      background-color: #e7e9ef !important;
    }
    height: 41px;
  }
}

// icon
.icon-help {
  color: #999;
}

//ng-select
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: unset !important;
}
.ng-select.ng-select-single .ng-select-container {
  height: 100%;
  border: none;
  background: #e7e9ef;
  border-radius: 6px;
}

.ng-select.ng-select-multiple .ng-select-container,
.ng-select.ng-select-single .ng-select-container {
  height: 100%;
  border: none;
  background: #e7e9ef;
  border-radius: 6px;
  min-height: 41px;
}

.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected
  .ng-option-label,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked
  .ng-option-label {
  font-weight: 500;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: $input-placeholder-color;
  top: unset !important;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: unset !important;
}
.ng-select-custom,
.ng-select-custom.ng-select-single {
  border-radius: 6px;
  .ng-select-container {
    min-height: 35px;
    color: var(--bs-body-color);
    background: #e7e9ef;
    border-radius: 6px;
  }
  &.h-lg {
    .ng-select-container {
      min-height: 40px;
      height: 40px;
      .ng-input {
        top: 10px;
      }
    }
  }
  &.has-error {
    .ng-select-container {
      border-color: #dc3545;
      // .ng-placeholder {
      //   color: #dc3545;
      // }
    }
  }
}

.ng-select-custom.ng-select-opened {
  .ng-select-container {
    background: #e7e9ef;
    border-radius: 6px;
  }
}

.ng-select-custom.ng-select-disabled {
  .ng-select-container,
  input,
  .ng-placeholder {
    cursor: not-allowed !important;
  }
}
.ng-select-custom.option-white-space-unset
  .ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option {
  white-space: unset;
}

.ng-select-custom.ng-select-multiple .ng-select-container .ng-value-container {
  .ng-value {
    background-color: $gray-400;
    border-radius: 16px;
    .ng-value-icon.left {
      border-right: 1px solid $gray-400;
    }
    .ng-value-label div {
      color: var(--bs-body-color);
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
.ng-select-custom.bg-white {
  .ng-select-container {
    background-color: #fff;
  }
}

.select-action-filter {
  .ng-select-container {
    background: #e7e9ef;
    border-radius: 6px;
    border: none;
    width: 120px !important;
  }
}

.ng-select-filter {
  .ng-select-container {
    background: #fff !important;
    min-width: 150px;
  }
}
// end ng-select

// custom select search input
.custom-select-input-search {
  background: #e7e9ef;
  border-radius: 6px;
  padding-left: 15px;
  ng-select {
    width: 100%;
  }
}

ng-select.select-search-icon {
  ng-dropdown-panel {
    width: calc(100% + 37px) !important;
    left: -37px !important;
  }
  &.ng-select.ng-select-focused > .ng-select-container {
    /* border-color: #007eff; */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 0 3px rgba(0,126,255,0.1); */
    border-color: unset !important;
    box-shadow: unset !important;
  }
}

.popover {
  white-space: nowrap;
  max-width: 100%;
}

// Card body
.card-body {
  background-color: #fff !important;
  border-radius: 6px !important;
}

// progress bar
@keyframes widthScale {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  50% {
    margin-left: -50%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes sizeScale {
  0% {
    scale: 0.1;
  }
  50% {
    scale: 0.5;
  }
  100% {
    scale: 1;
  }
}

progressbar.custom-progress {
  height: 12px !important;
  border-radius: 8px !important;
  bar {
    border-radius: 8px !important;
    margin-left: 0;
    opacity: 1;
    animation: widthScale linear 0.6s;
    .metrics {
      animation: widthScale linear 0.6s, sizeScale linear 0.6s;
    }
  }
}

.good {
  bar {
    background-color: #7dc066 !important;
  }
}

.normal {
  bar {
    background-color: #eed781 !important;
  }
}

.bad {
  bar {
    background-color: #ef6a6a !important;
  }
}

// table
.table-responsive {
  table {
    background-color: #fff !important;
    min-width: 1200px !important;
    th,
    td {
      background-color: #fff !important;
      max-width: 350px;
    }
  }
}
table {
  th,
  td {
    background-color: #fff !important;
    max-width: 350px;
  }
}

// tooltip

.ng-tooltip {
  position: absolute;
  max-width: 270px;
  font-size: 12px;
  text-align: center;
  padding: 16px;
  z-index: 1000;
  opacity: 0;
  background: #ffffff;
  border-radius: 6px;
  color: #17234e;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.1);
}
.ng-tooltip:after {
  content: '';
  position: absolute;
  border-style: solid;
}
.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: #ffffff transparent transparent transparent;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.1);
}
.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent #ffffff transparent;
}
.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent #ffffff;
}
.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent #ffffff transparent transparent;
}
.ng-tooltip-show {
  opacity: 1;
}

// more
span.required {
  color: #e70c0c;
  margin-right: 3px;
}

// Tab
.custom-tab-basic {
  .nav-tabs {
    padding: 0;
    .nav-link {
      border: none;
      color: #afb2bd !important;
      border-radius: unset !important;
      &:hover {
        border: none;
      }
      &.active {
        background-color: unset !important;
        border: none;
        color: #17234e !important;
        border-bottom: 2px solid #17234e;
      }
    }
  }
}

.custom-tab-template {
  .nav-tabs {
    border-bottom: none !important;
  }

  .tab-content {
    .modal-body {
      padding: 20px 0 0 0  !important;
    }
  }
}
